body {
	font-family: "Segoe UI", Arial, sans-serif;
}

header{
    background-image: url('https://img.icons8.com/color/48/000000/twitter.png');
    background-repeat: no-repeat;
    background-position-x: center;
}

#parteAzul {
    background-color:rgba(29,161,242,1.00);
    height: 100px;
}

.color-blue{
    color:rgba(29,161,242,1.00);
}

.seguir{
    border-radius: 8px;
}

